.h1_view {
    -fx-font-size: 70px;
    -fx-font-weight: 700;
}

.h2_view {
    -fx-font-size: 25px;
    -fx-font-weight: 700;
    -fx-text-fill: grey;
}

.vbox_view {
    -fx-background-color: linear-gradient( #98fb98, white);
}

.AnchorPane_view {
    -fx-background-color: linear-gradient( #fffafa, white);
}

.h3_view {
    -fx-font-size: 50px;
    -fx-font-weight: 700;
}

.h4_view {
    -fx-font-size: 30px;
}

.h5_view {
    -fx-font-size: 24px;
}

.h6_view {
    -fx-text-fill: grey;
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

.choice_view {
    -fx-background-color: #98fb98;
}

.button_view {
    -fx-font-size: 24px;
    -fx-background-color: linear-gradient( gainsboro, gray);
}

.button_view:hover {
    -fx-font-size: 24px;
    -fx-background-color: linear-gradient( #98fb98, white);
}

.special_bold {
    -fx-font-weight: 700;
}

.pane_view {
    -fx-background-color: linear-gradient( #fffafa, white);
}

.special_botton_view {
    -fx-background-color: transparent;
}

